@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.welcome-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rocket {
  width: 100px;
}

.welcome-title {
  font-family: 'Fredoka One', cursive;
  font-size: 64px;
  color: #f2f2f2;
  margin-top: 30px;
}

.welcome-title .letter {
  display: inline-block;
  line-height: 1em;
}

.input-name {
  margin-top: 30px;
  width: 100%;
  padding: 12px 20px;
  border: 3px solid #f2f2f2;
  font-size: 20px;
  background-color: black;
  transition: 1s;
  outline: none;
  border-radius: 60px;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
}

.input-name:focus {
  border: 3px solid #f5d10d;
}

.btn-welcome {
  margin-top: 30px;
  width: 100%;
  height: auto;
  border: 3px solid #f2f2f2;
  color: #f2f2f2;
  background-color: black;
  border-radius: 60px;
  box-shadow: inset 0 0 0 0 #e25822;
  transition: ease-in-out 0.3s;
  font-size: 2rem;
  padding: 12px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}

.btn-welcome:hover {
  box-shadow: inset 300px 0 0 0 #e25822;
}

.welcome-info {
  color: #f2f2f2;
  margin-top: 30px;
}

/* modal-content */

.page-container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

header {
  font-family: 'Fredoka One', cursive;
  background-color: #f5d10d;
  padding: 30px 0;
  border-radius: 0 0 20px 20px;
}

.nav-bar {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0%;
  padding-left: 20px;
}

.nav-links a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  transition: color 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.right-bar {
  display: flex;
  align-items: center;
}

a .fas {
  color: black;
}

.share-icon {
  padding: 0px 40px 0 0;
  font-size: 30px;
}

.share-icon:hover {
  color: #0088a9;
}

.btn-change {
  padding: 9px 25px;
  border: 3px solid black;
  border-radius: 60px;
  color: black;
  background-color: #f5d10d;
}

.btn-change:hover {
  color: #f2f2f2;
  background-color: black;
}

.banner {
  padding-top: 100px;
  text-align: center;
}

.banner-title {
  font-size: 50px;
}

.banner-title span {
  font-size: 70px;
  font-family: 'Rakkas', cursive;
  color: #0088a9;
}

.main-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-1-container,
.quiz-2-container,
.quiz-3-container {
  width: 30%;
  height: 300px;
  border-radius: 30px;
  display: flex;
}

.quiz-1-container {
  background: linear-gradient(
    90deg,
    rgba(11, 208, 66, 1) 0%,
    rgba(53, 212, 97, 1) 100%
  );
}

.quiz-2-container {
  background: linear-gradient(
    90deg,
    rgba(242, 205, 0, 1) 0%,
    rgba(241, 215, 77, 1) 100%
  );
}

.quiz-3-container {
  background: linear-gradient(
    90deg,
    rgba(151, 66, 255, 1) 0%,
    rgba(184, 126, 255, 1) 100%
  );
}

.main-img-container {
  padding: 20px;
  width: 70%;
  display: flex;
  overflow: hidden;
}

.quiz-desc-container {
  width: 30%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.quiz-icon {
  padding: 0px 40px 0 0;
  font-size: 40px;
}

.unlock {
  cursor: pointer;
}

.lock {
  cursor: pointer;
  opacity: 60%;
}

.lock:active {
  pointer-events: none;
}

.quiz-level {
  font-family: 'Fredoka One', cursive;
}

.quiz-title {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: grey;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
}

.back-container {
  width: 90%;
  max-width: 1500px;
  margin: 6px auto 0 auto;
}

.back-btn {
  display: inline-block;
  cursor: pointer;
}

.back-icon {
  padding-right: 10px;
}

.quiz-section {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1500px;
  display: flex;
}

.quiz-img-container,
.main-quiz-container {
  width: 50%;
}

.quiz-img-container {
  height: 500px;
  display: flex;
}

.main-quiz-container {
  height: 100%;
  text-align: center;
  padding: 20px;
}

.quiz-question-container {
  border-radius: 30px;
  height: 100%;
  background-color: #b8c6db;
  box-shadow: 10px 5px 5px black;
}

#quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quiz-img {
  padding: 20px;
  width: 100%;
}

/* QUIZ */

#quiz-start-btn {
  padding: 9px 25px;
  border-radius: 10px;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  color: #f2f2f2;
  background-color: #e25822;
  text-decoration: none;
}

#quiz-counter {
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  color: red;
}

.question {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color: black;
  margin-top: 20px;
}

.question-img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

#questions {
  width: 80%;
}

.answers {
  margin-top: 32px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.answers button {
  text-decoration: none;
  padding: 9px 25px;
  border: 3px solid black;
  border-radius: 60px;
  color: black;
  font-family: 'Fredoka One', cursive;
  transition: 0.3s;
}

.answers button:hover {
  color: black;
  background-color: #f5d10d;
}

#quiz-gameover-response {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color: red;
}

#quiz-correct-response {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color: green;
}

#quiz-complete-btn,
#quiz-next-btn,
#quiz-retry-btn {
  padding: 9px 25px;
  border-radius: 10px;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  color: #f2f2f2;
  text-decoration: none;
}

#quiz-retry-btn {
  background-color: red;
}

#quiz-next-btn {
  background-color: green;
}

#quiz-complete-btn {
  background-color: blue;
}

#wheels {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  cursor: pointer;
}

#bicycle-body {
  cursor: pointer;
}

#wheels:hover ~ #bicycle-body {
  transition: opacity 0.3s;
  opacity: 30%;
}

/* CSS FOR SVG */

.cls-100 {
  fill: #f2f2f2;
}
.cls-200 {
  opacity: 0.1;
}
.cls-300 {
  fill: #3f3d56;
}
.cls-400 {
  fill: #f5d10d;
}
.cls-500 {
  fill: #e25822;
}

@media (max-width: 1300px) {
  header {
    padding: 10px 0;
  }
  .main-container {
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
  .quiz-1-container,
  .quiz-2-container,
  .quiz-3-container {
    width: 80%;
    margin-bottom: 20px;
  }
  nav {
    width: 80%;
    flex-direction: column;
  }
  .nav-bar {
    flex-direction: column;
  }
  .right-bar {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .share-icon {
    padding-right: 20px;
    font-size: 40px;
  }
  .nav-links {
    flex-direction: column;
    margin-top: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
  }
  .logo {
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .back-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .banner {
    border-top: 5px solid black;
    padding-top: 0px;
    text-align: center;
  }

  .banner-title {
    font-size: 50px;
  }
  .quiz-img-container {
    display: none;
  }
  .main-quiz-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
  }
  .quiz-section {
    height: 100%;
    padding-bottom: 2.5rem;
  }
  .question-img {
    margin: 20px;
    height: auto;
    width: 30%;
  }
  .question {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: black;
    margin-top: 10px;
  }

  #questions {
    width: 80%;
  }

  .answers {
    margin-top: 0px;
  }

  .answers button {
    padding: 6px 20px;
  }
  #questions {
    width: 100%;
  }
  .answers {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 50px 50px;
    padding: 0px 20px;
  }

  #quiz-gameover-response {
    font-size: 25px;
  }
  
  #quiz-correct-response {
    font-size: 25px;
  }
}
